@import "../../../../assets/styles/variables.scss";

.header {
  padding-top: 40px;
  padding-bottom: 40px;

  .container {
    .wrapper-navigation {
      display: grid;
      grid-template-columns: minmax(85px, 185px) repeat(2, 1fr) min(240px);
      align-items: center;
      font-weight: 500;
      font-size: 16px;

      .logo img {
        cursor: pointer;
      }

      .navbar {
        display: flex;
        gap: 30px;

        .navbar-item {
          a {
            white-space: nowrap;
            color: $main-text-color;
            text-decoration: none;
          }
          a.active-link {
            color: $accent-color;
          }
        }
      }

      .phone {
        text-align: right;


        a {
          white-space: nowrap;
          color: $accent-color;
          text-decoration: none;
          &:hover {
            color: gray;
          }
        }
      }

      .user {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        cursor: pointer;
        gap: 7px;

        a {
          color: $main-text-color;
          text-decoration: none;
        }

        &:hover {
          color: $light-accent-color;
        }
      }
    }
  }
}

