<div class="container">
  <div class="wrapper">
    <div class="form" >
      <h1 class="h2 title">Войти в личный кабинет</h1>
      <form [formGroup]="loginForm">
        <input type="text" placeholder="Электронная почта" class="input" formControlName="email">
        <input type="text" placeholder="Пароль" class="input" formControlName="password">
        <label class="agree">
          <input type="checkbox" formControlName="remember">
          <span>Запомнить меня</span>
        </label>
        <button class="btn" type="button" (click)="login()">Войти</button>
      </form>
      <p class="link">Нет аккаунта? <a routerLink="/signup">Пройдите регистрацию</a></p>
    </div>

    <div class="image">
      <img src="assets/images/login-image.png" alt="">
    </div>
  </div>
</div>
