<div class="container">
  <div class="wrapper">
    <div class="form">
      <h1 class="h2 title">Регистрация на сайте</h1>
      <form>
        <input type="text" placeholder="Ваше имя" class="input">
        <input type="text" placeholder="Электронная почта" class="input">
        <input type="text" placeholder="Пароль" class="input">
        <label class="agree">
          <input type="checkbox">
          <span>Я принимаю <a routerLink="/policy">условия пользовательского соглашения</a> и даю <a routerLink="/policy">согласие на обработку персональных данных</a>.</span>
        </label>
        <button class="btn" type="button">Войти</button>
      </form>
      <p class="link">Уже есть аккаунт? <a routerLink="/login">Войдите</a></p>
    </div>

    <div class="image">
      <img src="assets/images/signup-image.png" alt="">
    </div>
  </div>
</div>
