@import "variables";
@import "fonts";

html, body {
  margin: 0;
  padding: 0;
  font-family: $main-family;
  font-weight: 400;
  font-size: 14px;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

a {


  &:hover {
    color: gray;
  }
}

a.active-link {
  color: $accent-color;
}

.btn {
  font-family: "Montserrat", sans-serif;
  color: #FFFFFF;
  background-color: $accent-color;
  border-radius: 5px;
  border: none;
  cursor: pointer;

  font-weight: 400;
  font-size: 16px;
  padding: 15px 40px;

  &:hover {
    box-shadow: 0px 2px 4px 2px rgba(34, 60, 80, 0.2);
  }
}

.container {
  margin: 0 auto;
  max-width: calc($container-width);
  padding: 0 30px;
}

.h2 {
  font-family: $second-family;
  font-weight: 400;
  font-size: 38px;
  line-height: 130%;
  color: $accent-color;
}

.h3 {
  font-family: $second-family;
  font-weight: 400;
  font-size: 26px;
  line-height: 130%;
  color: $accent-color;
}

.article {
  position: relative;
  padding-bottom: 60px;

  p {
    margin: 0 0 20px 0;
    font-weight: 400;
    font-size: 14px;
    line-height: 130%;
    color: #071739;
  }

  .breadcrumbs {
    display: flex;
    gap: 8px;
    align-items: center;
    margin-bottom: 60px;

    a {
      font-weight: 400;
      font-size: 16px;
      color: #b9d5fd;
      text-decoration: none;
    }

    .breadcrumbs-separator {
      font-weight: 400;
      font-size: 14px;
      color: #b9d5fd;
    }

    .breadcrumbs-title {
      font-weight: 500;
      font-size: 16px;
      color: #709fdc;
    }
  }


  .article-content-image {
    position: relative;
    width: 527px;
    height: 320px;
    background-color: gray;
    top: 0;
    right: 0;
    overflow: hidden;
    border-radius: 5px;
    float: right;
    margin-left: 110px;
    margin-bottom: 10px;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
    }
  }

  .article-content {
    position: relative;
    max-width: 828px;

    h1 {
      font-family: "Lora", sans-serif;
      font-weight: 400;
      font-size: 38px;
      line-height: 130%;
      color: #709fdc;
      margin-bottom: 40px;

      & + p {
        font-weight: 400;
        font-size: 20px;
        line-height: 130%;
        color: #709fdc;
        margin-bottom: 112px;

        & + p {
          margin-bottom: 40px;
        }
      }
    }

    h3 {
      font-weight: 500;
      font-size: 20px;
      line-height: 130%;
      color: #709fdc;

      margin-top: 40px;
      margin-bottom: 20px;


    }
  }

  .article-more {
    position: absolute;
    top: 500px;
    right: 0;
    width: 292px;
    display: flex;
    flex-direction: column;

    .article-more-title {
      font-family: "Lora", sans-serif;
      font-weight: 400;
      font-size: 26px;
      line-height: 130%;
      color: #709fdc;
      margin-bottom: 20px;
    }

    .articles-more-cards {
      display: flex;
      flex-direction: column;
      gap: 60px;
    }
  }
}





