$container-width: 1240px;
$main-text-color: #071739;
$second-text-color: #1E1A2B;
$light-text-color: #FFFFFF;
$accent-color: #709FDC;
$light-accent-color: #B9D5FD;

$main-family: "Montserrat", sans-serif;
$second-family: "Lora", sans-serif;
$third-family: "Suisse Intl", sans-serif;
